/* Table Styles */
.restaurant-list-container{
  border: 1px solid black;
  padding: 1em;
  max-width: 800px;
}
.restaurant-card{
 
  padding: 0em;
  display: flex;
  gap: 1em;
}
.restaurant-card * {
  border: 1px solid black;
  padding: 3px;
}
.page-nav-btn{
  border: 1px solid black;
  padding: 1em 2em;
  cursor: pointer;
}
nav{
  display: flex;
  justify-content: center;
  margin: 1em;
  gap: 1em;
}
.main-container{
  max-width: 800px;
}
.disabled{
  pointer-events: none;
  opacity: 0.3;
}
.App{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
